body{
   transition: all 0.75s;
   
}


body{
    font-family: sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right,rgb(86, 226, 86),yellow);
}

h1{
    font: 600 3.5em, 'Raleway';
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3{
    font: 900 1em sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.input{
    text-align: center;
}



#ul > li{
    /* border: 1px solid black; */
    padding: 2px;
    width: fit-content;
    margin: 5px;
    list-style-type: none;
    position: relative;
    text-align: center;
}

/*  tip btn */

.tip-btn{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: inherit;
    border: white solid 5px;
    box-shadow:  rgba(0, 0, 0, 0.5);
}

.tip-btn:hover{
    background-color: lemonchiffon;
    border: 5px solid red;

    color: inherit;
    border: inherit solid;
}

/* Pig game  */
.pig-btn{
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: inherit;
  border: white solid 5px;
  box-shadow:  rgba(0, 0, 0, 0.5);
}
.pig-btn:hover{
  background-color: lemonchiffon;
  border: 5px solid red;
  color: inherit;
  border: inherit solid;
  
}
.pig-displayOFF{
  visibility: hidden;
}
.pig-displayON{
visibility: visible;
}


.pig-game{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 70%;
    background: rgba(119, 113, 113, 0.4);
    position: relative;
    top: 10rem;
}
                             /* Pig GAme  */

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

.player {
    flex: 50%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }
  

  .name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
  }
  
  .active {
    background-color: rgba(45, 92, 246, 0.4);
  }
  .player--active .name {
    font-weight: 700;
  }
  .player--active .score {
    font-weight: 400;
  }
  
  .player--active .current {
    opacity: 1;
  }

.current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 50%;
    padding: 1.2rem;
    text-align: center;
    transition: all 0.75s;
  }

  .current-label {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #ddd;
  }
  
  .current-score {
    font-size: 3.5rem;
  }

  .btnnic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  } 

  .btn::first-letter {
    font-size: 2.2rem;
    display: inline-block;
    margin-right: 0.7rem;
  }
  
  .btn--new {
    top: 36rem;
  }
  .btn--roll {
    top: 69.3rem;
  }
  .btn--hold {
    top: 76.1rem;
  }

  .btn--mode{
    top: 36rem;
   left: 30%;
   box-shadow: rgba(94, 80, 80, 0.5);
   border-radius: 5px;
   box-shadow: 0 1.75rem 3.5rem rgba(0, 0.5, 0, 0.5);
   background-color: inherit;
   backdrop-filter: blur(10px);
   color: white;
   
  }

  .btn--easy{
    top: 36rem;
    left: 35%;
   display: none;
  }

  .btn--hard{
    top: 36rem;
    left: 25%;
  
  }

  .btn--mode:hover{
   background-color: salmon;

  }

  .btn--input{
    top: 57.2rem;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }
  
  .btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
  
  .btn:focus {
    outline: none;
  }

  #winnngBoard {
    
      top: 64rem;
  
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #444;
      background: none;
      border: none;
      font-family: inherit;
      font-size: 1.8rem;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 400;
      transition: all 0.2s;
      /* background-color: white; */
      background-color: inherit;
      backdrop-filter: blur(10px);
      padding: 0.7rem 2.5rem;
      border-radius: 50rem;
      box-shadow: 0 1.75rem 3.5rem rgba(0, 0.5, 0, 0.5);
    }

    #enterWin {
      top: 50rem;
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #444;
      background: none;
      border: none;
      font-family: inherit;
      font-size: 1.8rem;
      text-transform: uppercase;
     font-weight: 400;
      transition: all 0.2s;
      /* background-color: white; */
      background-color: inherit;
      backdrop-filter: blur(10px);
      padding: 0.7rem 2.5rem;
      border-radius: 50rem;
      box-shadow: 0 1.75rem 3.5rem rgba(0, 0.5, 0, 0.5);
    }
  

.dice {
  position: absolute;
  left: 45%;
  top: 46.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  display: none;
}

.dice-2 {
  position: absolute;
  left: 55%;
  top: 46.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  display: block;
}
/* .player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
} */

.hidden {
  display: none;
}

.winner{ background-color: #f7f7f7;}
.winner .player-name {font-weight: 300; color: #EB4D4D}

.win-end{
  visibility: hidden;
  
}  

/*  css for winning score input  */

.btn--input-none{
  display: none 
}


                      
                      /* PAGE II  CSS */

.Games-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

        /* Rps APP  */

.rpsGame{
  align-items: center;
  justify-content: space-around;
  position: relative;
  max-width: 50%;
  margin: auto;
  flex-direction: row;
  border: 5px solid rgb(63, 133, 224);
  top: 5rem;
  flex-wrap: wrap;
}


.img-rps img{
  width: auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
  margin: auto;
  flex-wrap: wrap;
}


.playerConsole, .img-rps{
  padding: 20px;
  position: relative;
  top: 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.playerConsole{
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-evenly;
  display: flex;
}

.ourchoice img{
  width: 200px;
  height: 200px;
  box-shadow: 0px 10px 10px rgba(212, 20, 20, 0.5);
}

.btn--newRps{
  position: relative;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.774);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
} 

.btn--newRps:hover{
  background-color: inherit;
  box-shadow: 50px, 50px, 50px, 50px rgba(14, 35, 226, 0.5);
  border: 3px solid blue;
  color: rgb(223, 15, 15);
  font-weight: bold;
}

#player-Score, #Cpu-score, #cu-score{
    font-weight: bold;
    font-size: 20px;
}
            /* Black Jack */


/*          Budgety App styling  */

.budget-app-div{
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 10px;
  max-width: 70%;
  margin: auto;
  flex-direction: row;
  border: 5px solid rgb(63, 133, 224);
  top: 10rem;
  flex-wrap: wrap;
  
}

.budget--heading{
  text-align: center;
  display: inline-block;
}
.budget--heading h4{
  font-size: 20px;
  color: #EB4D4D ;
}
.budget--heading p{
  font-size: 20px;
  color: #c7365f;
  font-weight: bolder;
}

.income-div, .expenses-div{
  background-color: darkred;
  color: white;
  padding: 20px;
  font-family: fantasy;
  font-size: 15px;
  font-weight: bolder;
  flex-wrap: wrap;
}

.expenses-div{
  margin-top: 10px;
  position: relative;
  flex-wrap: wrap;

}

.expenses-div span, .income-div span{
  float: right;
  flex-wrap: wrap;

}


.inc-exp-div{
  padding: 10px;
flex-wrap: wrap;
justify-content: space-between;
flex-wrap: wrap;

}

.budget--event > input{
width: initial;
height: 45px;
flex-wrap: wrap;


}

input, input::-webkit-input-placeholder{
  padding: 0 20px;
  line-height: 3;
}
select{
  width: 50px;
  height: 30px;
}

.add--value{
  width: 40px;
  height: 40px;
}

                    /* Income div css */
.budget--list{
  position: relative;
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.income-0, .expenses-0{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
  width: 350px;
  color: white;
  font-size: 20px;
  position: relative;
  right: 12rem;
  border-radius: 10px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 10px;

}
.income h2{
font-weight: bolder;
font-family: serif;
margin-bottom: 10px;
flex-wrap: wrap;

}


.right{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.cancel--btn{
position: relative;
left: 4rem;
flex-wrap: wrap;
height: 30px;
color: red;

}

.item--value{
  color: indigo;
  font: optional;
  font: bolder;
  font-weight: bolder;
  flex-wrap: wrap;

}

.item--description{
  font-weight: bolder;
  flex-wrap: wrap;
position: relative;
right: 2rem;
}

                /* Expenses Div Css */

.expenses-0{
  left: 12rem;
  
}

.expenses--title{
  position: relative;
 text-align: right;

}

.notDisplay{
  display:  none;
}